@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    color: white;
    font-family: "Bebas Neue","manrpe", sans-serif
}
nav{
    margin: 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 60px;

}
body{
    background-color: #0A0A0A;
    color: #ffffff;

}
.logoTitle{
    font-family:Bebas Neue ;
    font-size: 32PX;
    color: #C7C7C7;
}
    

ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;


}
ul li a{
    font-family:"manrpe" ;
    text-decoration: none;
    color: #C7C7C7;
    font-size: 16PX;

}
.head{
    display:flex ;
    align-items: center;
    margin:30px 100px 80px ;
    justify-content: space-between;
}
h1{
    font-family:Bebas Neue ;
    

}





